html {
  height: 100%;
  width: 100vw;
}

.header {
  text-align: center;
  color: #b1e3b1;
  background-color: #003800;
  border-radius: 20px;
  animation: wave-text 1.5s ease-in-out infinite,
    slide 1s ease-in-out;
}

.o {
  background-color: #67c267;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  color: #003800;
}

.info {
  background-color: #318531;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  color: #baf5ba;
  animation: expand 1s ease-in-out;
}

.sep {
  background-color: #173d17;
  width: inherit;
  height: 6px;
  animation: load 3s ease-in-out;
}

.fade {
  color: #f5bdba;
  animation: fade-in 3s ease-in-out;
}

svg {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.large {
  font-size: 10em;
  text-align: center;
  margin-top: 10px;
  animation: expand 1s ease-in-out, wave-text 2.5s ease-in-out infinite;
}

@keyframes wave-text {
  0% {
    text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
  }

  50% {
    text-shadow: 0 0.5em rgba(0, 0, 0, 0.4);
  }

  100% {
    text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
  }
}

@keyframes expand {
  0% {
    opacity: 0.1;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(1%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
    color: #baf5ba;
  }

  100% {
    opacity: 1;
    color: #f5bdba;
  }
}

@keyframes load {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.jersey-10-regular,
body,
h1,
h2,
h3
{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.exo2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: #b1e3b1;
  color: #003800;
}
